:root {
    --text-color: black;
    --accent-color: #09C3D7;
    --background-color: #F7F7F7;
    --link-color: #09C3D7;
    --visited-link-color: #551A8B;
    font-feature-settings: "liga" 0, 'calt' 1;
    font-family: "Inconsolata", monospace;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* background-color: black; */
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    /* font-size: 24px; */
    font-size: 1.3em;
    color: var(--text-color);
}

.centered-box {
    line-height: 1.25em;
    font-weight: normal;
    align-items: center;
    min-height: 80vh;
    margin: 2% 10%;
}

a {
    color: var(--link-color);
    text-decoration-thickness: 1px;
}

/* a:visited {
    color: var(--visited-link-color);
} */

a:hover {
    text-decoration-style: dotted;
}

#logo {
    max-width: 50vw;
    width: 80%;
    min-width: 80%;
    display: block;
    margin: 0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    gap: 10px;
    top: 0;
    background-color: var(--accent-color);
    justify-content: space-between;
    padding: 4px 10px;
}

header div {
    text-align: center;
}

header div a {
    color: black;
}

header div a:visited {
    color: black;
}

.nav-active {
    background-color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: static;
    gap: 10px;
    bottom: 0;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 4px 10px;
    font-size: 0.9rem;
}

footer div {
    text-align: center;
}

.fill {
  flex: 1;
  margin: 0 0.4rem;
  overflow: hidden;
  white-space: nowrap;
}

.fill::before {
  content: "+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++";
  letter-spacing: 0.15em;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 2px 10px;
    line-height: 1em;
    text-align: justify;
    font-size : clamp(0.3rem, 3vw, 1.5rem);
}

th {
    background-color: var(--accent-color);
    text-align: center;
}

td {
    padding: 0.5rem 0.8rem;
}

.shows-wrap {
    margin: 0 auto;
}

.shows {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

#shows-past .show {
  opacity: 0.45;
}

#shows-past th {
    background-color: grey;
    /* color: white; */
    opacity: 0.45;
}

#shows-past .show a { 
    color: inherit;
}

/* image gallery */

.media-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.media-col {
  max-width: 100%;
  padding: 4px 4px;
}

.media-col img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

.quote {
    margin: 0.75rem auto;
    max-width: 100%;
    padding: 0.5rem 0.75rem;
    border: 2px ridge black;
}

.quote div {
    display: block;
    font-size: 1rem;
    padding: inherit;
    margin: 0 auto;
    color: #888;
    text-align: right;
}